@import "tailwindcss";

/* This file is for global resets/styles, default typography, custom classes. */

/* :root (usually refers to <html> = highest-lvl element in the document) for global vars/styles 
   (theme colors, font families, global vars) */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #root = where React renders the component tree = the React app (wrapper)*/
#root {
  /* Make the app fill the entire width of the page. */
  width: 100%;
  height: 100%;
}