PORT="The port for your backend server"
FRONTEND_URL="The URL of your frontend"

SPOTIFY_CLIENT_ID="The client ID of your Spotify project"
SPOTIFY_CLIENT_SECRET="The client secret of your Spotify project"
SPOTIFY_REDIRECT_URI="The URL Spotify should redirect to after login/authorization"