PORT="The port for your backend server"
FRONTEND_URL="The URL of your frontend"

SPOTIFY_CLIENT_ID="The client ID associaited with the Spotify project you made (keep this hidden!)"
SPOTIFY_CLIENT_SECRET="The Spotify client secret (keep this hidden!)"
SPOTIFY_REDIRECT_URI="The URI Spotify will redirect to after login/authorization (must be the same domain as FRONTEND_url)" 